variable "do_token" {
    description: "Digital Ocean API key"
    default = "YOUR_API_KEY_GOES_HERE"
}

variable "ssh_keys" {
    description: "SSH Keys uploaded to Digital Ocean"
    default: "YOUR_SSH_FINGERPRINT_ID_GOES_HERE"
}

variable "key_file" {
    description: "Path to a private key file"
    default: "~/.ssh/id_rsa"
}
